.qr-page {
  .circle {
    width: 40px;
    height: 40px;
    background-color: grey; // Grey to show there's no picture
    border-radius: 50%;
  }

  .header {
    background-color: #003366; // Match the top bar color
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 0.85rem;
    padding: 20px;
    text-decoration: underline;
  }

  .qr-box {
    background-color: #003366;
    border-radius: 8px;
    padding: 50px; // Add spacing inside the box
    margin: 50px auto; // Add spacing around the box
    width: 50%; // Control width of box
    text-align: center; // Set height to 80% of the screen
    
    img {
      background-color: #003366;
      width: 30%; // QR code image size
      max-width: 400px;
      height: 20%;
      padding-bottom: 8%;
      padding-top: 8%; // Optional: limit the max size
    }
  }

  button {
    padding: 10px 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px; // Space above button
  }
}
